/* style.css */
/* Apply styles to the body */
body {
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Style for the main heading */
h1 {
    color:red;
    background-color: blue;
    text-align: left;
}

h2{
    color: black;
    background-color: white;
}

/* Style for paragraphs */
p{
    color: brown;
    background-color: ghostwhite;
}